* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    background-image: url(./assets/currency-bg-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}